[Unit]
Description=Cosmos Gov Discord Bot
ConditionPathExists=/etc/cosmosgov/cosmos-gov/
After=network.target

[Service]
Type=simple
User=cosmosgov
Group=cosmosgov

WorkingDirectory=/etc/cosmosgov/cosmos-gov/
ExecStart=/usr/local/go/bin/go run . discord
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cosmosgovdiscordservice

Environment="DISCORD_TOKEN={{ cosmosgov_discord_bot_token }}"
Environment="DATABASE_URL={{ cosmosgov_database_url }}"
Environment="SENTRY_DSN={{ cosmosgov_sentry_dns }}"
Environment="DEBUG=true"

[Install]
WantedBy=multi-user.target
